.row {
  margin-left: 0;
  margin-right: 0;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

table > tbody > tr > th {
  font-weight: normal;
}

//.btn-warning {
//  width: 20px;
//  height: 20px;
//}
