<responsive-switcher>

  <component-title [title]="Component.TITLE"></component-title>

  <form id="content" #form="ngForm">

    <div class="col-md-6">

      <div class="row">
        <label for="bigHeader">Duży news</label>
        <mat-radio-group
          id="bigHeader"
          [(ngModel)]="news.bigHeader"
          [ngModelOptions]="{standalone: true}">
          <mat-radio-button [value]="true">Tak</mat-radio-button>
          <mat-radio-button [value]="false">Nie</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="row">

      </div>
      <div class="row">
        <label for="title">Tytuł</label>
        <input
          class="form-control"
          name="title" id="title" type="text"
          placeholder="Tytuł"
          required
          #title="ngModel"
          [(ngModel)]="news.title">
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          <div *ngIf="title.errors.required">{{Validation.TITLE}}</div>
        </div>
      </div>

      <div class="row">
        <label for="newsContent">Treść</label>
        <textarea
          id="form107"
          class="form-control"
          name="newsContent" id="newsContent" type="text"
          placeholder="Treść"
          required
          rows="20"
          #newsContent="ngModel"
          [(ngModel)]="news.content">
        </textarea>
        <div class="alert alert-danger" *ngIf="newsContent.touched && newsContent.invalid">
          <div *ngIf="newsContent.errors.required">{{Validation.TITLE}}</div>
        </div>
      </div>

      <div class="row mt-10">
        <input
          (change)="selectFileAndUpload($event)"
          id="photo" type="file" required
          accept="image/x-png,image/gif,image/jpeg,image/jpg">
        <div>
          Test img: {{news.images | json}}
        </div>
        <ng-container *ngFor="let image of news.images; let i = index">
          <mat-card class="result">
            <mat-card-content>
              <section class="example-section">
                <mat-checkbox [checked]="imgHeaderUrl === i" (change)="imgHeaderUrl = i; onHeaderImageChecked(image)"></mat-checkbox>
                <img src="{{image}}" width="25%">
                <span></span>
                <mat-icon (click)="onCopy(image)">file_copy</mat-icon>
                <span></span>
                <mat-icon (click)="onDelete(image)">delete_forever</mat-icon>
              </section>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>

      <div class="row mt-10">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!form.valid"
          (click)="onSave()">
          Zapisz
        </button>

        <button
          class="btn btn-danger pull-right"
          *ngIf="newsId"
          (click)="deleteNews()">
          Usuń
        </button>

      </div>
    </div>

  </form>

</responsive-switcher>
