<div class="col-md-6">

  <div class="card">

    <h4 class="card-title">
      <a
        class="btn-link"
        [routerLink]="['/aktualnosci/' + cuttedLink + '/', news.id]">
        {{news.title}}
      </a>
      <i
        class="material-icons hover md-18"
        *ngIf="isAdmin"
        [routerLink]="['/aktualnosci/edycja/', news.id]">
        edit
      </i>
    </h4>

    <div class="card-body">
      {{cuttedContent}}
    </div>
    <div
      class="card-body"
      *ngIf="readMore">
      Czytaj więcej
    </div>

  </div>
</div>
