<div class="row mt-10">

  <table
    *ngIf="dailyProducts$.length > 0"
    class="table table-condensed"
  >
    <thead></thead>
    <tbody>
    <tr *ngFor="let product of dailyProducts$; let i = index">
      <th class="text-left">{{product.name}}</th>
      <th class="text-right">{{product.nutrition.kcal | number: '1.0-0'}}</th>
      <th class="text-right"><a id="deleteElement" type="button" (click)="removeMeal(i)">X</a></th>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <th class="text-left">
        P: {{totalProteins | number: '1.0-0'}}
        C: {{totalCarbs | number: '1.0-0'}}
        T: {{totalFats | number: '1.0-0'}}</th>
      <th class="text-right">{{totalCalories | number:'1.0-0'}} kcal</th>
      <th></th>
    </tr>
    </tfoot>

  </table>
</div>
<a
    #addProductButtonElement
    class="btn btn-primary"
    [ngClass]="(addProductButtonElement.hidden) ? 'hidden' : 'visible'"
    (click)="addProductButtonElement.hidden = true"
>
  Dodaj posiłek
</a>

<div *ngIf="!addProductButtonElement.hidden; else newProduct"></div>

<ng-template #newProduct>

  <form #form="ngForm">

    <div class="row mt-10">

      <div class="input-group">
        <input
            #query="ngModel"
            (keyup)="keyUp.next(query.value)"
            [(ngModel)]="searchedProduct"
            placeholder="Wpisz nazwę produktu"
            autocomplete="off"
            class="form-control"
            name="name" id="name" type="text" maxlength="100">
        <span class="input-group-btn">
          <button class="btn btn-danger" *ngIf="addProductButtonElement.hidden"
                  (click)="addProductButtonElement.hidden = false">X</button>
        </span>
      </div>
    </div>
    <div class="searched-products" *ngFor="let product of filteredProducts$">
      <ul class="row mt-10">
        <a>{{product.name}}</a>
        <a
            #addProductWeightButtonElement
            class="pull-right" id="addProductWeightButtonElement"
            [ngClass]="(addProductWeightButtonElement.hidden) ? 'hidden' : 'visible'"
            (click)="addProductWeightButtonElement.hidden = true"
        >
          Dodaj
        </a>
      </ul>
      <div *ngIf="addProductWeightButtonElement.hidden">

        <div class="row">
          <div class="input-group">
            <span class="input-group-addon">g</span>
            <input
                #weight="ngModel" ngModel
                (keyup)="setProductWeight(weight.value)"
                (keypress)="onEnterPressed($event)"
                placeholder="Podaj wagę produktu"
                minValue="0.1" maxValue="1000"
                autocomplete="off"
                class="form-control"
                name="weight" required id="weight" type="number">

            <span class="input-group-btn">
                <button
                    #confirmProductElement
                    class="btn btn-success"
                    type="button"
                    id="confirmProductElement"
                    [disabled]="form.invalid"
                    (click)="addProductButtonElement.hidden = false;
                  addProductToList(product, weight.value);">
                  OK
                </button>
            </span>
          </div>
          <div class="alert alert-danger" *ngIf="weight.touched && weight.invalid">
            <div *ngIf="weight.errors.required">Podaj wagę produktu.</div>
            <div *ngIf="weight.errors?.minValue">Waga nie może być mniejsza od 0.1.</div>
            <div *ngIf="weight.errors?.maxValue">Waga nie może być większa od 1000.</div>
          </div>
        </div>

      </div>
    </div>

  </form>

</ng-template>
