<responsive-switcher>
  <component-title [title]="'Strona główna'"></component-title>
  <div id="content" style="margin-top: 70px">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo nibh ac purus blandit feugiat. Nunc
      ultricies
      tellus vel ante ullamcorper tristique. Vivamus sodales nibh ac mi sollicitudin volutpat. Vestibulum ac elementum
      ipsum. Aliquam tincidunt arcu condimentum dolor porttitor, sodales elementum nunc varius. Phasellus eget semper
      mauris. Quisque at lorem libero.</p>

    <p>Nullam sit amet porttitor elit, nec mattis magna. In eu turpis tincidunt dolor congue fermentum vitae ut
      ligula.
      Maecenas fringilla, magna sit amet imperdiet malesuada, massa lacus aliquam ligula, vitae facilisis tortor justo
      sit
      amet elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc et semper neque, quis ornare erat.
      Vestibulum ullamcorper justo vitae elit auctor eleifend. In vitae tellus purus. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit.</p>

    <p>Sed tempus fermentum commodo. Aenean aliquet, metus non facilisis varius, nulla neque mattis mauris, sit amet
      cursus
      ex neque nec sapien. Pellentesque aliquam facilisis semper. Nulla massa nunc, bibendum tristique nisi ut, tempus
      sodales augue. Donec pretium nulla at odio tristique pulvinar. Interdum et malesuada fames ac ante ipsum primis
      in
      faucibus. Mauris dignissim, nibh ac malesuada rhoncus, orci dui lacinia tortor, vel facilisis quam arcu quis
      arcu.
      Donec eget libero at orci aliquam accumsan. Nunc faucibus eget nulla id mollis. Interdum et malesuada fames ac
      ante
      ipsum primis in faucibus. Integer accumsan sem eget quam molestie dictum. Nam luctus fermentum quam sit amet
      dapibus.
      Proin luctus dui eleifend, finibus ligula at, sagittis velit. Donec interdum molestie nisl, eu tincidunt ante
      placerat
      ut.</p>

    <p>Integer elementum accumsan ligula ut ultrices. Suspendisse gravida viverra felis posuere tincidunt. Sed pretium
      dolor
      non vulputate posuere. Quisque faucibus pharetra gravida. Sed aliquam sed ligula sed venenatis. In tempor nisl
      dictum
      mollis commodo. Phasellus efficitur et tellus ac rutrum. In a dolor velit. Aenean dignissim felis eget metus
      cursus
      consequat. Cras pretium eget enim varius feugiat.</p>

    <p>Nam facilisis dictum placerat. Sed iaculis dolor tellus, ac sollicitudin tortor tempor in. Proin dolor risus,
      suscipit
      varius maximus eget, interdum porta ipsum. Curabitur sit amet purus eros. Cras mattis est arcu, vel aliquet
      augue
      consequat eget. Phasellus hendrerit diam lacus, et imperdiet sapien vestibulum eget. Aliquam scelerisque ac
      risus
      in
      venenatis. Quisque ac augue elementum urna convallis condimentum vel ac libero. Nulla sagittis eros a eros
      ultricies,
      a aliquet velit egestas. Proin et sagittis mauris. Sed pulvinar tempor finibus. Duis consequat, arcu venenatis
      tincidunt viverra, tellus felis gravida mi, non condimentum lacus urna vitae enim.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo nibh ac purus blandit feugiat. Nunc
      ultricies
      tellus vel ante ullamcorper tristique. Vivamus sodales nibh ac mi sollicitudin volutpat. Vestibulum ac elementum
      ipsum. Aliquam tincidunt arcu condimentum dolor porttitor, sodales elementum nunc varius. Phasellus eget semper
      mauris. Quisque at lorem libero.</p>

    <p>Nullam sit amet porttitor elit, nec mattis magna. In eu turpis tincidunt dolor congue fermentum vitae ut
      ligula.
      Maecenas fringilla, magna sit amet imperdiet malesuada, massa lacus aliquam ligula, vitae facilisis tortor justo
      sit
      amet elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc et semper neque, quis ornare erat.
      Vestibulum ullamcorper justo vitae elit auctor eleifend. In vitae tellus purus. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit.</p>

    <p>Sed tempus fermentum commodo. Aenean aliquet, metus non facilisis varius, nulla neque mattis mauris, sit amet
      cursus
      ex neque nec sapien. Pellentesque aliquam facilisis semper. Nulla massa nunc, bibendum tristique nisi ut, tempus
      sodales augue. Donec pretium nulla at odio tristique pulvinar. Interdum et malesuada fames ac ante ipsum primis
      in
      faucibus. Mauris dignissim, nibh ac malesuada rhoncus, orci dui lacinia tortor, vel facilisis quam arcu quis
      arcu.
      Donec eget libero at orci aliquam accumsan. Nunc faucibus eget nulla id mollis. Interdum et malesuada fames ac
      ante
      ipsum primis in faucibus. Integer accumsan sem eget quam molestie dictum. Nam luctus fermentum quam sit amet
      dapibus.
      Proin luctus dui eleifend, finibus ligula at, sagittis velit. Donec interdum molestie nisl, eu tincidunt ante
      placerat
      ut.</p>

    <p>Integer elementum accumsan ligula ut ultrices. Suspendisse gravida viverra felis posuere tincidunt. Sed pretium
      dolor
      non vulputate posuere. Quisque faucibus pharetra gravida. Sed aliquam sed ligula sed venenatis. In tempor nisl
      dictum
      mollis commodo. Phasellus efficitur et tellus ac rutrum. In a dolor velit. Aenean dignissim felis eget metus
      cursus
      consequat. Cras pretium eget enim varius feugiat.</p>

    <p>Nam facilisis dictum placerat. Sed iaculis dolor tellus, ac sollicitudin tortor tempor in. Proin dolor risus,
      suscipit
      varius maximus eget, interdum porta ipsum. Curabitur sit amet purus eros. Cras mattis est arcu, vel aliquet
      augue
      consequat eget. Phasellus hendrerit diam lacus, et imperdiet sapien vestibulum eget. Aliquam scelerisque ac
      risus
      in
      venenatis. Quisque ac augue elementum urna convallis condimentum vel ac libero. Nulla sagittis eros a eros
      ultricies,
      a aliquet velit egestas. Proin et sagittis mauris. Sed pulvinar tempor finibus. Duis consequat, arcu venenatis
      tincidunt viverra, tellus felis gravida mi, non condimentum lacus urna vitae enim.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo nibh ac purus blandit feugiat. Nunc
      ultricies
      tellus vel ante ullamcorper tristique. Vivamus sodales nibh ac mi sollicitudin volutpat. Vestibulum ac elementum
      ipsum. Aliquam tincidunt arcu condimentum dolor porttitor, sodales elementum nunc varius. Phasellus eget semper
      mauris. Quisque at lorem libero.</p>

    <p>Nullam sit amet porttitor elit, nec mattis magna. In eu turpis tincidunt dolor congue fermentum vitae ut
      ligula.
      Maecenas fringilla, magna sit amet imperdiet malesuada, massa lacus aliquam ligula, vitae facilisis tortor justo
      sit
      amet elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc et semper neque, quis ornare erat.
      Vestibulum ullamcorper justo vitae elit auctor eleifend. In vitae tellus purus. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit.</p>

    <p>Sed tempus fermentum commodo. Aenean aliquet, metus non facilisis varius, nulla neque mattis mauris, sit amet
      cursus
      ex neque nec sapien. Pellentesque aliquam facilisis semper. Nulla massa nunc, bibendum tristique nisi ut, tempus
      sodales augue. Donec pretium nulla at odio tristique pulvinar. Interdum et malesuada fames ac ante ipsum primis
      in
      faucibus. Mauris dignissim, nibh ac malesuada rhoncus, orci dui lacinia tortor, vel facilisis quam arcu quis
      arcu.
      Donec eget libero at orci aliquam accumsan. Nunc faucibus eget nulla id mollis. Interdum et malesuada fames ac
      ante
      ipsum primis in faucibus. Integer accumsan sem eget quam molestie dictum. Nam luctus fermentum quam sit amet
      dapibus.
      Proin luctus dui eleifend, finibus ligula at, sagittis velit. Donec interdum molestie nisl, eu tincidunt ante
      placerat
      ut.</p>

    <p>Integer elementum accumsan ligula ut ultrices. Suspendisse gravida viverra felis posuere tincidunt. Sed pretium
      dolor
      non vulputate posuere. Quisque faucibus pharetra gravida. Sed aliquam sed ligula sed venenatis. In tempor nisl
      dictum
      mollis commodo. Phasellus efficitur et tellus ac rutrum. In a dolor velit. Aenean dignissim felis eget metus
      cursus
      consequat. Cras pretium eget enim varius feugiat.</p>

    <p>Nam facilisis dictum placerat. Sed iaculis dolor tellus, ac sollicitudin tortor tempor in. Proin dolor risus,
      suscipit
      varius maximus eget, interdum porta ipsum. Curabitur sit amet purus eros. Cras mattis est arcu, vel aliquet
      augue
      consequat eget. Phasellus hendrerit diam lacus, et imperdiet sapien vestibulum eget. Aliquam scelerisque ac
      risus
      in
      venenatis. Quisque ac augue elementum urna convallis condimentum vel ac libero. Nulla sagittis eros a eros
      ultricies,
      a aliquet velit egestas. Proin et sagittis mauris. Sed pulvinar tempor finibus. Duis consequat, arcu venenatis
      tincidunt viverra, tellus felis gravida mi, non condimentum lacus urna vitae enim.</p>
  </div>
</responsive-switcher>
<app-footer></app-footer>
